/* body part and navbar part start */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    padding: 0;
}


.navbar_line {
    box-shadow: 0 2px 3px rgb(0 0 0 / 0%), 0 3px 10px rgb(0 0 0 / 13%);
}
/* Navbar part  end */
/* Home part  start */
/* Home part  end */
/* About part  start */
/* About part  end */
/* Services part  start */
/* Services part  end */
/* Qaleriya part  start */
/* Qaleriya part  end */
/* Neymanewes part  start */
/* Neymanews part  end */
/* Tean part  start */
/* Team part  end */
/* Partnyors part  start */
/* Partnyors part  end */
/* Contact part  start */
/* Contact part  end */